
html, body { 
    background-color: rgb(68, 3, 105);
    color: rgb(242, 228, 250);
    margin: 0;
    min-width: 320px;
    padding: 0;
    text-align: center;
}

button {
    background-color: rgb(68, 3, 105);
    border-radius: 7px;
    color: rgb(242, 228, 250);
    font-size: 1.2em;
    height: 45px;
    margin: 10px 0 20px 0;
    width: 140px;
}

li {
    margin: 5px 0;
}

ul {
    padding: 0 10px;
}

#description {
    margin: 0;
    padding: 10px;
}

.dropdown {

}

.form-backer {
    background-color: rgb(242, 228, 250);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px white;
    color: rgb(68, 3, 105);
    /*height: 700px;*/
    margin: 0 auto;
    max-width: 850px;
    min-height: 500px;
    width: 80%;
}

.input-field {
    border: 1px solid rgb(68, 3, 105);
    border-radius: 2px;
    height: 18px;
    margin: 12px;
    padding: 6px;
    width: 300px;

}

.labels {
    display: inline-block;
    text-align: right;
    width: 20%;
    vertical-align: middle;
}

.survey-row {
    display: block;
    width: 100%;
}

.text-input {
    display: inline-block;
    text-align: left;
    width: 45%;
    vertical-align: middle;
}

#comment-box {
    height: 100px;
    margin: 12px 12px;
    width: 300px;
}

#dropdown {
    border: 1px solid rgb(68, 3, 105);
    border-radius: 2px;
    margin: 12px;
    text-align: right;
}

#title {
    color: whitesmoke;
}

@media screen and (max-width: 820px) {
    .input-field{
        width: 255px;
    }
    .text-input {
        width: 60%;
    }
}


@media screen and (max-width: 520px) {
    li {
        display: block;
        padding: 0 25%;
    }

    .labels {
        text-align: center;
        width: 100%;
    }
    .input-field {
        margin: 12px 12px 12px 24px;
        text-align: center;
        width: 80%;
    }
    .text-input {
        width: 100%;
    }

    #comment-box {
        display: block;
        margin: 12px auto;
    }


    #dropdown {
        display: block;
        margin: 12px auto;
        width: 80%;
    }

}
