html, body { 
    background-color: rgb(68, 3, 105);
}

.form-backer {
    background-color: rgb(218, 195, 231);
    border-radius: 5px;
    margin: auto;
    max-width: 850px;
    width: 80%;
}

#title {
    color: whitesmoke;
    text-align: center;
}